@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

header nav ul li a .material-symbols-outlined {
    font-size: 1rem;
}

header nav ul .highlight a {
    padding: 0.5rem;
    background-color: #fa2828;
}

header nav ul .highlight a::before {
    margin-right: 0.25rem;
    font-family: 'Material Icons';
    content: "\e02e";
}

.slider .slick-slide {
    width: 15rem;
    height: 10rem;
    margin: 0 4rem;
    position: relative;
    overflow: hidden;
}

.slider .slick-list {
    margin: 2.5rem;
}

.slider .slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slick-arrow {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #00000080;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 3rem;
    z-index: 1;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.slider .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #ffffff;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
}

.slider .slick-next {
    right: 0;
}

.slider .slick-prev {
    left: 0;
}

.slider .slick-next::before {
    left: 20px;
}

.slider .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
}

.dots .slick-dots {
    text-align: center;
}

.dots .slick-dots li {
    display: inline-block;
}

.dots .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
}

.dots .slick-dots .slick-active button {
    background: #ee3a3a;
}