main .title {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

main .subtitle {
    text-align: center;
    font-size: 2rem;
}

main .news {
    overflow: auto
}

main .news .news_card {
    background-color: #3f3f3f;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 50rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 0rem 0rem 1rem white;
}